body {
    background-color: #035efc;
}

#starting {
    display: none;
    margin: auto;
    width: 50%;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 20px;
}

@media screen and (max-width: 850px) {
    #starting {
        width: 80%;
    }
}


#render_questions {
    width: 60%;
    margin: auto;
    background-color: white;
    padding: 5px 5px 10px 10px;
    display: none;
    border-radius: 8px;
}

@media screen and (max-width: 800px) {
    #render_questions {
        width: 80%;

    }
}

@media screen and (max-width: 550px) {
    #render_questions {
        width: 95%;
    }
}

#img_div {
    display: inline-block;
    vertical-align: top;
}

#heading_div {
    display: inline-block;
    margin-top: 15px;
}

#logo {
    height: 100px;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
}

.quiz_heading {
    font-size: 26px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.middle_heading {
    font-size: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.questions_and_time {
    margin: 5px;
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.minutes_and_questionsNumber {
    color: rgb(123, 123, 215);
    font-size: 17px;
}

#instructions_heading {
    font-size: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.questions_div {
    background-color: aliceblue;
    border: 1px solid grey;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.marks {
    color: rgb(36, 36, 242);
}

#name_field {
    height: 31px;
    width: 200px;
    border-radius: 4px;
    border: 2px solid grey;
    margin-top: 10px;
}

#btn_div {
    display: flex;
    justify-content: right;
    align-items: right;
}

#start_quiz_btn {
    height: 35px;
    width: 90px;
    padding: 7px;
    background-color: #3774df;
    color: white;
    border: none;
}

#note_heading {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: rgb(251, 54, 54);
    margin-bottom: 10px;
}

.note {
    margin: 4px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(104, 103, 103);
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #bf3b32;
    color: white;
    margin: auto;
    padding: 10px;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@media screen and (max-width: 650px) {
    .modal-content {
        width: 70%;

    }
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

#modal_error {
    font-size: 17px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.close_modal_btn {
    margin-right: 8px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    display: inline;
    float: right;
}

.close_modal_btn:hover {
    color: black;
}



.question_num {
    font-size: 20px;
    font-family: sans-serif;
    color: blue;
}

.question {
    font-size: 18px;
    font-family: sans-serif;
}

.optionsDiv {
    margin-bottom: 8px;
}

.optionsName {
    font-size: 18px;
    font-family: sans-serif;
}

@media screen and (max-width: 500px) {
    .optionsName {
        font-size: 15px;

    }
}

@media screen and (max-width: 400px) {
    .optionsName {
        font-size: 14px;

    }
}

.next_btn_div {
    display: flex;
    justify-content: right;
    align-items: right;
}


#questions_div {
    padding-top: 20px;
}


#time {
    float: right;
    padding: 5px 5px 115px 5px;
}


.next_question_btn {
    height: 35px;
    width: 70px;
    font-size: 16;
    padding: 5px;
    background-color: #3774df;
    color: white;
    border: none;
}


#time {
    display: none;
}




#result_progress {
    width: 40%;
    margin: auto;
    border-radius: 8px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
    font-family: sans-serif;
    font-size: 19px;
    font-weight: 500;
}

@media screen and (max-width: 700px) {
    #result_progress {
        width: 60%;
    }
}

@media screen and (max-width: 470px) {
    #result_progress {
        width: 80%;
    }
}

#user_name {
    margin: 0px;
    padding-bottom: 5px;
}

#obtained_marks {
    font-size: 17px !important;
    font-weight: 500 !important;
}

#percentage {
    margin: 0px;
    padding-bottom: 5px;
}

#percent {
    font-size: 17px !important;
    font-weight: 500 !important;
}


#result_remarks {
    margin: 0px;
    padding-bottom: 5px;
}

#remarks {
    font-size: 17px !important;
    font-weight: 500 !important;
}


#time_elapsed {
    margin: 0px;
}

#completion_time {
    font-size: 17px !important;
    font-weight: 500 !important;
}


#quiz_result_heading {
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
    margin: 0px 5px 5px 12px;
    color: white
}

.separate_question_div {
    background-color: white;
    padding-top: 10px;
    margin: 10px 3px 17px 1px;
    border-radius: 7px;
}

#result_div {
    display: none;
}

.result_questions {
    font-size: 17px;
    font-family: sans-serif;
    margin: 2px;
}

.wrong_answer {
    background-color: #ffb3b3;
    color: white;
    margin: 18px 0px 0px 0px;
    padding: 10px 5px 10px 10px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    font-family: sans-serif;
}

.correct_answer {
    background-color: lightgreen;
    color: white;
    margin: 18px 0px 0px 0px;
    padding: 10px 5px 10px 10px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    font-family: sans-serif;
}

.no_option_selected {
    background-color: white;
    color: black;
    margin: 18px 0px 0px 0px;
    padding: 10px 5px 10px 10px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    font-family: sans-serif;
}

.result_question_num {
    margin: 2px 2px 10px 10px;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 600;
    color: blue;
}

.result_questions {
    margin: 2px 2px 5px 10px;
}

.result_options_div {
    padding: 10px 5px 10px 5px;
}

.optionsNameResult {
    font-family: sans-serif;
    padding-left: 3px;
    padding-right: 5px;
}

@media screen and (max-width: 400px) {
    .optionsNameResult {
        font-size: 14px;
    }
}

.close_completion_modal {
    display: none;
}