/* default bg color of body */
body {
    background-color: #035efc;
}


/* starting/instruc div */
#starting {
    display: none;
    margin: auto;
    width: 50%;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 20px;
}

@media screen and (max-width: 850px) {
    #starting {
        width: 80%;
    }
}

/* JS logo div */
#js_logo_div {
    display: inline-block;
    vertical-align: top;
}

/* JS logo */
#logo {
    height: 100px;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
}


/* QUIZ heading div */
#quiz_heading_div {
    display: inline-block;
    margin-top: 15px;
}


/* quiz heading */
.quiz_heading {
    font-size: 26px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.middle_heading {
    font-size: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

/* how many questions and time */
.questions_and_time {
    margin: 5px;
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

/* total number of questions and minutes */
.minutes_and_questionsNumber {
    color: rgb(123, 123, 215);
    font-size: 17px;
}

/* quiz instructions heading */
#instructions_heading {
    font-size: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

/* each question marks */
.marks {
    color: rgb(36, 36, 242);
}

/* name input field */
#name_field {
    height: 31px;
    width: 200px;
    border-radius: 4px;
    border: 2px solid grey;
    margin-top: 10px;
}

/* start QUIZ button div */
#start_quiz_btn_div {
    display: flex;
    justify-content: right;
    align-items: right;
}

/* start quiz button */
#start_quiz_btn {
    height: 35px;
    width: 90px;
    padding: 7px;
    background-color: #3774df;
    color: white;
    border: none;
}

/* NOTE heading */
#note_heading {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: rgb(251, 54, 54);
    margin-bottom: 10px;
}

/* note */
.note {
    margin: 4px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(104, 103, 103);
}

/* STARTING DIV ENDS */






/* render questions div */
#render_questions_div {
    width: 60%;
    margin: auto;
    background-color: white;
    padding: 5px 5px 10px 10px;
    display: none;
    border-radius: 8px;
}

@media screen and (max-width: 800px) {
    #render_questions_div {
        width: 80%;

    }
}

@media screen and (max-width: 550px) {
    #render_questions_div {
        width: 95%;
    }
}


/* TIME div */
#time_div {
    display: none;
    align-items: right;
    float: right;
    padding: 5px 5px 115px 5px;
}

/* questions div */
#questions_div {
    padding-top: 20px;
}


/* question num */
.question_num {
    font-size: 20px;
    font-family: sans-serif;
    color: blue;
}

/* question */
.question {
    font-size: 18px;
    font-family: sans-serif;
}

/* options div */
.optionsDiv {
    margin-bottom: 8px;
}

/* options name */
.optionsName {
    font-size: 18px;
    font-family: sans-serif;
}

@media screen and (max-width: 500px) {
    .optionsName {
        font-size: 15px;

    }
}

@media screen and (max-width: 400px) {
    .optionsName {
        font-size: 14px;

    }
}


/* next and complete button div */
.next_btn_div,
.complete_btn_div {
    display: flex;
    justify-content: right;
    align-items: right;
}

/* next question button */
.next_question_btn {
    height: 35px;
    width: 70px;
    font-size: 16;
    padding: 5px;
    background-color: #3774df;
    color: white;
    border: none;
}

/* complete button */
.complete_btn {
    height: 35px;
    width: 85px;
    font-size: 16;
    padding: 5px;
    background-color: #3774df;
    color: white;
    border: none;
}

/* RENDER QUESTION DIV END */





/* ERRORS MODAL styling start */
/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* ERRORS Modal Content */
.modal-content {
    position: relative;
    background-color: #bf3b32;
    color: white;
    margin: auto;
    padding: 10px;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@media screen and (max-width: 650px) {
    .modal-content {
        width: 70%;

    }
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* error message styling */
#modal_error {
    font-size: 17px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

/* close modal button */
.close_modal_btn {
    margin-right: 8px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    display: inline;
    float: right;
}

.close_modal_btn:hover {
    color: black;
}

/* ERRORS MODAL END */




/* RESULT DIV start*/
#result_div {
    display: none;
}

/* result progress div */
#result_progress {
    width: 40%;
    margin: auto;
    border-radius: 8px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
    font-family: sans-serif;
    font-size: 19px;
    font-weight: 500;
}

@media screen and (max-width: 700px) {
    #result_progress {
        width: 60%;
    }
}

@media screen and (max-width: 470px) {
    #result_progress {
        width: 80%;
    }
}

/* username */
#user_name {
    margin: 0px;
    padding-bottom: 5px;
}

/* obtained marks */
#obtained_marks {
    font-size: 17px !important;
    font-weight: 500 !important;
}

/* percentage para heading */
#percentage {
    margin: 0px;
    padding-bottom: 5px;
}

/* percentage */
#percent {
    font-size: 17px !important;
    font-weight: 500 !important;
}

/* remarks para heading */
#result_remarks {
    margin: 0px;
    padding-bottom: 5px;
}

/* remarks */
#remarks {
    font-size: 17px !important;
    font-weight: 500 !important;
}

/* time elapsed para heading */
#time_elapsed {
    margin: 0px;
}

/* completion time */
#completion_time {
    font-size: 17px !important;
    font-weight: 500 !important;
}

/* QUIZ result heading */
#quiz_result_heading {
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
    margin: 0px 5px 5px 12px;
    color: white
}

/* separate questions div */
.separate_question_div {
    background-color: white;
    padding-top: 10px;
    margin: 10px 3px 17px 1px;
    border-radius: 7px;
}

/* result question num */
.result_question_num {
    margin: 2px 2px 10px 10px;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 600;
    color: blue;
}

/* result questions */
.result_questions {
    font-size: 17px;
    font-family: sans-serif;
    margin: 2px 2px 5px 10px;
}

/* RESULT OPTIONS DIV */
.result_options_div {
    padding: 10px 5px 10px 5px;
}

/* result options name */
.optionsNameResult {
    font-family: sans-serif;
    padding-left: 3px;
    padding-right: 5px;
}


/* wrong answer styling */
.wrong_answer {
    background-color: #ffb3b3;
    color: white;
    margin: 18px 0px 0px 0px;
    padding: 10px 5px 10px 10px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    font-family: sans-serif;
}

/* correct answer styling */
.correct_answer {
    background-color: lightgreen;
    color: white;
    margin: 18px 0px 0px 0px;
    padding: 10px 5px 10px 10px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    font-family: sans-serif;
}


/* POPUPS STYLING START */
/*  questions complete/time's up popup styling */
#completed_popup,
#times_up_popup {
    display: none;
    margin-top: 80px;
    font-size: px;
    font-family: sans-serif;
    font-weight: 600;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 200px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* POPUPS STYLING END */